[color]
	ui = true
	diff = always
[user]
	name = Ben Rabinovitch
	email = github@ben.rabinovitch.ca
[alias]
	tree = ! git log --graph --oneline --decorate --color | less -R
	st = status
	di = ! git diff | less -R
	dt = difftool
[push]
	default = upstream
[diff]
	tool = gvimdiff
[difftool "gvimdiff"]
	cmd = gvim -f -R -d \"$LOCAL\" \"$REMOTE\"
[core]
	excludesfile = ~/.gitignore
